wallet_path = "sample-wallet.bdk"
# Optional: if not specified, the caller is responsible for saving/loading the private key
privkey_path = "sample-privkey.txt"
network = "regtest"
backend = "electrum"

[electrum]
enabled = true
server = "tcp://127.0.0.1:50001"
batch_size = 30
gap_limit = 20
